/* News */
.news-items-wrap {
  padding: 62px 0;
  max-width: 1500px;
  margin: 0 auto;
}

a.news-item {
  color: var(--primary-text);
  margin: 10px;
  width: calc(50% - 25px);
  display: flex;
  align-items: center;
}

.news-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  min-width: 237px;
  height: 228px;
  border-radius: 5px;
}

.news-logo img {
  width: 100%;
}

.news-content-wrap {
  padding: 23px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-content-wrap p,
.news-content-wrap h3,
.news-content-wrap span {
  font-size: 14px;
  line-height: 17px;
}

.news-content-wrap h3 {
  font-weight: 700;
  margin-bottom: 13px;
}

.news-content {
  max-height: 100px;
}

@media (max-width: 1500px) {
  .news-items-wrap {
    padding: 62px 21px;
  }
  
  a.news-item {
    width: calc(50% - 21px);
  }
  
  .news-logo {
    width: 100%;
    min-width: 0;
    height: auto;
  }
  
  .news-content-wrap {
    padding: 23px 11px;
  }
}

@media (max-width: 768px) {
  .news-items-wrap {
    padding: 62px 10px;
  }
  
  a.news-item {
    width: 100%;
  }
  
  .news-content-wrap {
    padding: 23px 5px;
  }
}
